* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.square {
  width: 20vmin;
  height: 20vmin;
  font-size: 16vmin;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid white;
  background-color: rgba(173, 173, 173, 0.532);
}

.square:hover {
  background-color: rgba(173, 173, 173, 0.334);
}

.square:active {
  background-color: rgba(173, 173, 173, 0.532);
}

.board-row {
  height: 20vmin;
  display: flex;
}

.winner_box_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.381);
  font-size: 10vmin;
  font-weight: 500;
  animation-duration: 0.6s;
  animation-name: slidein;
}

.winner_box_wrapper p {
  text-align: center;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
  text-shadow: 0 0 10px white;
}

.winner_box_wrapper span {
  display: inline-block;
  margin-left: 5px;
  color: white;
  text-shadow: 0 0 10px black;
}

.winner_box_wrapper button {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.429);
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50px;
  font-weight: 500;
}

.winner_box_wrapper button:hover {
  background-color: rgba(255, 255, 255, 0.716);
}

.winner_box_wrapper button:active {
  background-color: initial;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.game h2 {
  color: white;
  text-shadow: 0 0 10px black;
  margin-bottom: 50px;
  font-weight: 100;
  font-size: 13vmin;
}

.status {
  font-size: 3vmin;
}

.wrapper_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.381);
  font-size: 10vmin;
  font-weight: 500;
  animation-duration: 0.6s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.wrapper_menu h2 {
  text-shadow: 0 0 10px white;
  color: black;
  font-size: 12vmin;
  margin-bottom: 8vmin;
  letter-spacing: 3px;
}

.wrapper_btn_control{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper_menu button {
  font-size: 3vmin;
  background-color: initial;
  border: none;
  padding:  1vmin;
  margin-top: 3vmin;
  cursor: pointer;
  letter-spacing: 1px;
  border: 1px solid white;
  text-shadow: 0 0 10px white;
  border-radius: 6px;
}

.wrapper_btn {
  margin: 0;
  height: 8.5vmin;
  margin-top: 3vmin;
}

.wrapper_btn button:hover {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.256);
  text-shadow: 0 0 10px rgb(176, 176, 176);
}

.wrapper_btn button:active {
  border: none;
  text-shadow: none;
  background-color: rgba(198, 198, 198, 0.299);
}

@media(max-width: 450px) {
  .game h2 {
    font-size: 18vmin;
  }

  .wrapper_board {
    width: 80vmin;
  }

  .square {
    width: 30vmin;
    height: 30vmin;
  }

  .board-row {
    height: 30vmin;
  }

  .status {
    font-size: 6vmin;
  }

  .winner_box_wrapper button {
    padding: 10px;
  }

  .wrapper_menu h2 {
    font-size: 15vmin;
  }

  .wrapper_menu button {
    font-size: 6vmin;
    margin-top: 10vmin;
  }

  .wrapper_btn {
    height: 15vmin;
  }
}