* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.square {
  width: 20vmin;
  height: 20vmin;
  font-size: 16vmin;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: pointer;
  border: 2px solid white;
  background-color: rgba(173, 173, 173, 0.532);
}

.square:hover {
  background-color: rgba(173, 173, 173, 0.334);
}

.square:active {
  background-color: rgba(173, 173, 173, 0.532);
}

.board-row {
  height: 20vmin;
  display: flex;
}

.wiiner_box_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.381);
  font-size: 10vmin;
  font-weight: 500;
}

.wiiner_box_wrapper p {
  text-align: center;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
  text-shadow: 0 0 10px white;
}

.wiiner_box_wrapper span {
  display: inline-block;
  margin-left: 5px;
  color: white;
  text-shadow: 0 0 10px black;
}

.wiiner_box_wrapper button {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.429);
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50px;
  font-weight: 500;
}

.wiiner_box_wrapper button:hover {
  background-color: rgba(255, 255, 255, 0.716);
}

.wiiner_box_wrapper button:active {
  background-color: initial;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.game h2 {
  color: white;
  text-shadow: 0 0 10px black;
  margin-bottom: 50px;
  font-weight: 100;
  font-size: 13vmin;
}

.status {
  font-size: 3vmin;
}

@media(max-width: 450px) {
  .game h2 {
    font-size: 18vmin;
  }

  .wrapper_board {
    width: 80vmin;
  }

  .square {
    width: 30vmin;
    height: 30vmin;
  }

  .board-row {
    height: 30vmin;
  }

  .status {
    font-size: 6vmin;
  }

  .wiiner_box_wrapper button {
    padding: 10px;
  }
}